In [4]:
# Install the packages from here because requirments's file dose't wotk.

!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install sklearn

Requirement already satisfied: pandas in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.20.3 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (1.23.3)
Requirement already satisfied: matplotlib in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (3.6.0)
Requirement already satisfied: cycler>=0.10 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.19 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib) (1.23.3)
Requirement already satisfied: contourpy>=1.0.1 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: fonttools>=4.22.0 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib) (4.37.4)
Requirement already satisfied: pillow>=6.2.0 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Collecting seaborn
  Downloading seaborn-0.12.0-py3-none-any.whl (285 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 285.1/285.1 kB 9.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from seaborn) (1.23.3)
Requirement already satisfied: pandas>=0.25 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from seaborn) (1.5.0)
Requirement already satisfied: matplotlib>=3.1 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from seaborn) (3.6.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (4.37.4)
Requirement already satisfied: contourpy>=1.0.1 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (1.0.5)
Requirement already satisfied: pillow>=6.2.0 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (21.3)
Requirement already satisfied: pytz>=2020.1 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2022.2.1)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.0
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scikit-learn in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from sklearn) (1.1.2)
Requirement already satisfied: numpy>=1.17.3 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.23.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.9.1)
Requirement already satisfied: joblib>=1.0.0 in /workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.2.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1304 sha256=8ed0817378ebe2c7e9c5951d21ce33196a224de27f33e2f1a32c4bd48de67dab
  Stored in directory: /workspace/.pyenv_mirror/pip_cache/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import ast
import sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
url_mov='https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv'
url_cred='https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv'

movies = pd.read_csv(url_mov)
credits = pd.read_csv(url_cred)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [8]:
movies.sample(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
512,75000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",http://www.wantedmovie.com/,8909,"[{""id"": 782, ""name"": ""assassin""}, {""id"": 1872,...",en,Wanted,Doormat Wesley Gibson discovers that his recen...,73.822890,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",2008-06-19,258270008,110.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Choose your destiny.,Wanted,6.4,2528
385,100000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",http://www.warnerbros.com/happy-feet,9836,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 1357, ""n...",en,Happy Feet,"Into the world of the Emperor Penguins, who fi...",37.272385,"[{""name"": ""Kennedy Miller Productions"", ""id"": ...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}]",2006-11-16,384335608,108.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,WARNING: May Cause Toe-Tapping.,Happy Feet,5.9,1410
3329,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 12, ""n...",http://www.theholein3d.com/,45650,"[{""id"": 9866, ""name"": ""basement""}, {""id"": 1561...",en,The Hole,"After moving into a new neighbourhood, brother...",9.983004,"[{""name"": ""Bold Films"", ""id"": 2266}, {""name"": ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-09-09,0,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What Are You So Afraid Of?,The Hole,5.6,244
2063,21500000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",NaN,1073,"[{""id"": 258, ""name"": ""bomb""}, {""id"": 949, ""nam...",en,Arlington Road,Threats from sinister foreign nationals aren't...,12.819447,"[{""name"": ""Lakeshore Entertainment"", ""id"": 126...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-03-19,0,117.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Your Paranoia Is Real.,Arlington Road,7.0,239
127,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.madmaxmovie.com/,76341,"[{""id"": 2964, ""name"": ""future""}, {""id"": 3713, ...",en,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,434.278564,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2015-05-13,378858340,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What a Lovely Day.,Mad Max: Fury Road,7.2,9427
2139,20000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,4258,"[{""id"": 9663, ""name"": ""sequel""}, {""id"": 9755, ...",en,Scary Movie 5,"Home with their newly-formed family, happy par...",36.819044,"[{""name"": ""Dimension Films"", ""id"": 7405}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-04-11,78378744,86.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Evil is coming. Bring protection.,Scary Movie 5,4.6,793
1245,40000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",http://www.colombiana-movie.com/,62835,"[{""id"": 542, ""name"": ""street gang""}, {""id"": 64...",en,Colombiana,"Zoe Saldana plays a young woman who, after wit...",33.785969,"[{""name"": ""TF1 Films Production"", ""id"": 3823},...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}]",2011-07-27,60965854,108.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Revenge is beautiful.,Colombiana,6.5,824
2409,300000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",http://www.theofficialjohncarpenter.com/hallow...,948,"[{""id"": 293, ""name"": ""female nudity""}, {""id"": ...",en,Halloween,"In John Carpenter's horror classic, a psychoti...",30.301307,"[{""name"": ""Compass International Pictures"", ""i...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1978-10-25,70000000,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Night He Came Home,Halloween,7.4,1035
3652,5000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 878, ""na...",NaN,18442,[],en,Decoys,Luke and Roger are just another couple of coll...,3.054340,[],"[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}]",2004-02-27,0,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They can seduce anyone... Prey it isn't you!,Decoys,4.7,33
2723,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",NaN,25208,"[{""id"": 187056, ""name"": ""woman director""}]",en,The Caveman's Valentine,In this spine-tingling and visually stunning t...,4.722403,"[{""name"": ""Franchise Pictures"", ""id"": 1403}, {...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2001-01-19,0,105.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Caveman's Valentine,6.0,27

In [9]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [10]:
credits.sample(10)

,movie_id,title,cast,crew
133,62213,Dark Shadows,"[{""cast_id"": 4, ""character"": ""Barnabas Collins...","[{""credit_id"": ""52fe4675c3a368484e091ea9"", ""de..."
3656,57876,Area 51,"[{""cast_id"": 32, ""character"": ""Reid"", ""credit_...","[{""credit_id"": ""55560718c3a368776c0028e3"", ""de..."
4075,11624,Everything You Always Wanted to Know About Sex...,"[{""cast_id"": 20, ""character"": ""Victor / Fabriz...","[{""credit_id"": ""52fe446a9251416c75033f8f"", ""de..."
1959,168,Star Trek IV: The Voyage Home,"[{""cast_id"": 7, ""character"": ""Admiral/Captain ...","[{""credit_id"": ""52fe4222c3a36847f80066ed"", ""de..."
2871,7510,Running with Scissors,"[{""cast_id"": 1, ""character"": ""Deirdre Burrough...","[{""credit_id"": ""52fe4481c3a36847f809a065"", ""de..."
52,38356,Transformers: Dark of the Moon,"[{""cast_id"": 3, ""character"": ""Sam Witwicky"", ""...","[{""credit_id"": ""537f0b740e0a2624b40044d0"", ""de..."
4600,79161,51 Birch Street,"[{""cast_id"": 1001, ""character"": ""Herself"", ""cr...","[{""credit_id"": ""52fe49c4c3a368484e13e9bb"", ""de..."
758,12201,Edge of Darkness,"[{""cast_id"": 2, ""character"": ""Thomas Craven"", ...","[{""credit_id"": ""52fe44c99251416c75040e1b"", ""de..."
3548,70670,Headhunters,"[{""cast_id"": 7, ""character"": ""Roger Brown"", ""c...","[{""credit_id"": ""52fe4808c3a368484e0e62c5"", ""de..."
2173,13159,Georgia Rule,"[{""cast_id"": 1, ""character"": ""Georgia Randall""...","[{""credit_id"": ""52fe45479251416c75050ff9"", ""de..."

In [11]:
movies = movies.merge(credits, right_on=['movie_id','title'],left_on=['id','title']).drop('movie_id',axis=1)

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  cast                  4803 non-null   object
 21  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 863.0+ KB

In [13]:
movies.sample(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
3702,0,"[{""id"": 10402, ""name"": ""Music""}, {""id"": 10749,...",NaN,27686,"[{""id"": 162843, ""name"": ""state fair""}]",en,State Fair,During their annual visit to the Iowa State Fa...,1.847822,"[{""name"": ""Twentieth Century Fox Film Corporat...",...,0,96.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,State Fair,6.2,19,"[{""cast_id"": 1, ""character"": ""Margy Frake"", ""c...","[{""credit_id"": ""52fe4560c3a368484e0568f5"", ""de..."
3316,6500000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,11022,"[{""id"": 4927, ""name"": ""assertion""}, {""id"": 534...",en,Narc,"An undercover narc dies, the investigation sta...",8.526635,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,12633747,105.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Narc,6.8,142,"[{""cast_id"": 2, ""character"": ""Det. Sgt. Nick T...","[{""credit_id"": ""52fe43e59251416c75022443"", ""de..."
1783,27000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",http://www.sonypictures.com/movies/pineappleex...,10189,"[{""id"": 919, ""name"": ""smoking""}, {""id"": 10776,...",en,Pineapple Express,A stoner and his dealer are forced to go on th...,41.832392,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,101624843,111.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Put this in your pipe and smoke it.,Pineapple Express,6.6,1148,"[{""cast_id"": 6, ""character"": ""Dale Denton"", ""c...","[{""credit_id"": ""564a6ba19251414dc4000c0b"", ""de..."
2191,20000000,"[{""id"": 99, ""name"": ""Documentary""}]",http://www.capitalismalovestory.com/,22074,"[{""id"": 279, ""name"": ""usa""}, {""id"": 592, ""name...",en,Capitalism: A Love Story,Michael Moore's Capitalism: A Love Story comes...,10.500980,"[{""name"": ""The Weinstein Company"", ""id"": 308},...",...,17436509,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"Ask not what your C.E.O. can do for you, but w...",Capitalism: A Love Story,7.0,167,"[{""cast_id"": 1, ""character"": ""Michael Moore"", ...","[{""credit_id"": ""52fe4432c3a368484e015277"", ""de..."
3087,0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,29339,[],en,Nicholas Nickleby,The Charles Dickens story of Nicholas Nickleby...,5.099923,"[{""name"": ""United Artists Corporation"", ""id"": ...",...,0,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Nicholas Nickleby,6.8,49,"[{""cast_id"": 4, ""character"": ""Nicholas Nickleb...","[{""credit_id"": ""52fe45d8c3a368484e07230b"", ""de..."
3923,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",NaN,7509,"[{""id"": 2628, ""name"": ""site of pilgrimage""}, {...",en,Water,The film examines the plight of a group of wid...,2.787375,"[{""name"": ""David Hamilton Productions"", ""id"": ...",...,10422387,115.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Water,6.8,34,"[{""cast_id"": 2, ""character"": ""Kalyani"", ""credi...","[{""credit_id"": ""52fe4480c3a36847f8099fe5"", ""de..."
3206,0,"[{""id"": 18, ""name"": ""Drama""}]",http://www.polisse-lefilm.com/,71157,"[{""id"": 187056, ""name"": ""woman director""}]",fr,Polisse,The daily grind for the cops of the Police Dep...,14.038703,"[{""name"": ""Les Productions du Tr\u00e9sor"", ""i...",...,20374201,127.0,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,NaN,Polisse,7.9,285,"[{""cast_id"": 7, ""character"": ""Nadine"", ""credit...","[{""credit_id"": ""52fe4826c3a368484e0eb6d9"", ""de..."
1428,35000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",NaN,11918,"[{""id"": 2095, ""name"": ""anti hero""}, {""id"": 627...",en,Superhero Movie,The team behind Scary Movie takes on the comic...,19.088655,"[{""name"": ""Dimension Films"", ""id"": 7405}]",...,25871834,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The greatest Superhero movie of all time! (not...,Superhero Movie,4.9,379,"[{""cast_id"": 2, ""character"": ""Dragonfly"", ""cre...","[{""credit_id"": ""52fe44a19251416c7503b8d1"", ""de..."
2228,20000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 14, ""nam...",http://www.americancarol.com/,13948,"[{""id"": 949, ""name"": ""terrorist""}, {""id"": 9755...",en,An American Carol,"In An American Carol a cynical, Anti-American ...",2.605374,"[{""name"": ""Mpower Pictures"", ""id"": 5294}]",...,7000000,83.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Laugh like you're country depends on it.,An American Carol,4.1,20,"[{""cast_id"": 3, ""character"": ""Michael Malone"",...","[{""credit_id"": ""52fe45b99251416c750603e5"", ""de..."
3704,4500000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,6106,"[{""id"": 393, ""name"": ""civil war""}, {""id"": 407,...",en,Salvador,A second rated journalist from the US tries hi...,3.819796,"[{""name"": ""Hemdale Film"", ""id"": 3952}]",...,0,123.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Based on a true story.,Salvador,7.0,71,"[{""cast_id"": 1, ""character"": ""Richard Boyle"", ...","[{""credit_id"": ""52fe443dc3a36847f808a635"", ""de..."

In [14]:
movies = movies[['id','title','overview','genres','keywords','cast','crew']]

In [15]:
movies.sample(10)

,id,title,overview,genres,keywords,cast,crew
3800,10981,Nothing,The film tells the story of two good friends w...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 14, ""nam...","[{""id"": 3090, ""name"": ""loser""}, {""id"": 6733, ""...","[{""cast_id"": 1, ""character"": ""Dave"", ""credit_i...","[{""credit_id"": ""52fe43dc9251416c75020f4f"", ""de..."
672,1427,Perfume: The Story of a Murderer,"Jean-Baptiste Grenouille, born in the stench o...","[{""id"": 80, ""name"": ""Crime""}, {""id"": 14, ""name...","[{""id"": 90, ""name"": ""paris""}, {""id"": 293, ""nam...","[{""cast_id"": 9, ""character"": ""Jean-Baptiste Gr...","[{""credit_id"": ""52fe42f6c3a36847f80300f5"", ""de..."
4611,162396,The Big Swap,"In this British drama, Ellen (Sorcha Brooks) a...",[],[],"[{""cast_id"": 2, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4c59c3a36847f8229a57"", ""de..."
2564,14736,Love & Basketball,A young African-American couple navigates the ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...","[{""id"": 4663, ""name"": ""lovers""}, {""id"": 5608, ...","[{""cast_id"": 1, ""character"": ""Kelvin"", ""credit...","[{""credit_id"": ""564a7c97c3a368602e0014c6"", ""de..."
2304,22479,Kansas City,"Robert Altman's story is a riff on race, class...","[{""id"": 53, ""name"": ""Thriller""}, {""id"": 18, ""n...","[{""id"": 6083, ""name"": ""politician""}, {""id"": 11...","[{""cast_id"": 2, ""character"": ""Blondie O'Hara"",...","[{""credit_id"": ""5998a5dec3a3680f4e00b0c4"", ""de..."
4077,8810,Mad Max 2: The Road Warrior,Max Rockatansky returns as the heroic loner wh...,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 1653, ""name"": ""explosive""}, {""id"": 178...","[{""cast_id"": 6, ""character"": ""Max Rockatansky""...","[{""credit_id"": ""55a77d5d92514109da000626"", ""de..."
4471,74510,Kevin Hart: Laugh at My Pain,Experience the show that quickly became a nati...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 99, ""nam...","[{""id"": 9716, ""name"": ""stand-up comedy""}]","[{""cast_id"": 1, ""character"": ""Himself"", ""credi...","[{""credit_id"": ""548fa8c5c3a3686d74000720"", ""de..."
333,157353,Transcendence,Two leading computer scientists work toward th...,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...","[{""id"": 310, ""name"": ""artificial intelligence""...","[{""cast_id"": 2, ""character"": ""Dr. Will Caster""...","[{""credit_id"": ""53fc4dd90e0a267a6f00a427"", ""de..."
4227,127918,The Gatekeepers,In an unprecedented and candid series of inter...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 536, ""name"": ""israel""}, {""id"": 6092, ""...","[{""cast_id"": 2, ""character"": ""himself"", ""credi...","[{""credit_id"": ""52fe4b0dc3a368484e1750f5"", ""de..."
539,7450,Titan A.E.,A young man finds out that he holds the key to...,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 28, ""...","[{""id"": 1299, ""name"": ""monster""}, {""id"": 4270,...","[{""cast_id"": 3, ""character"": ""Cale Tucker"", ""c...","[{""credit_id"": ""59125c279251414ead0479ab"", ""de..."

In [16]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4803 non-null   int64
 1   title     4803 non-null   object
 2   overview  4800 non-null   object
 3   genres    4803 non-null   object
 4   keywords  4803 non-null   object
 5   cast      4803 non-null   object
 6   crew      4803 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.2+ KB

In [17]:
movies.isna().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
movies.dropna(inplace=True)
movies.reset_index(inplace=True)
movies.isna().sum()

index       0
id          0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [19]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [20]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [21]:
def convert3(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count < 3:
            L.append(i['name'])
        count +=1  
    return L

In [22]:
movies['cast'] = movies['cast'].apply(convert3)

In [23]:
movies.sample(5)

,index,id,title,overview,genres,keywords,cast,crew
996,996,9275,Death to Smoochy,"Tells the story of Rainbow Randolph, the corru...","[Comedy, Crime, Drama, Thriller]","[corruption, moderator, tv show, success, iris...","[Robin Williams, Catherine Keener, Edward Norton]","[{""credit_id"": ""52fe44e0c3a36847f80af3af"", ""de..."
3881,3882,10070,Feast,Patrons locked inside of a bar are forced to f...,"[Action, Comedy, Horror]","[monster, pub, duringcreditsstinger]","[Balthazar Getty, Henry Rollins, Navi Rawat]","[{""credit_id"": ""52fe431b9251416c75003b11"", ""de..."
3128,3129,283671,Jungle Shuffle,In this turbulent jungle adventure an outcast ...,"[Family, Animation, Adventure]","[poacher, jungle]","[Drake Bell, Rob Schneider, Brianne Siddall]","[{""credit_id"": ""548469d192514168c50007d2"", ""de..."
4636,4639,431,Cube,Seven strangers are taken out of their daily l...,"[Thriller, Science Fiction, Mystery]","[riddle, autism, claustrophobia, maze, prime n...","[Nicole de Boer, Nicky Guadagni, David Hewlett]","[{""credit_id"": ""52fe4243c3a36847f80107bf"", ""de..."
3665,3666,297596,Dying of the Light,"Evan Lake, a veteran CIA agent, has been order...","[Thriller, Drama]","[cia, retirement, espionage, terrorism]","[Nicolas Cage, Anton Yelchin, Alexander Karim]","[{""credit_id"": ""546b104292514117ea000f92"", ""de..."

In [24]:

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [25]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [26]:
movies.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [27]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [28]:
movies.sample(5)

,index,id,title,overview,genres,keywords,cast,crew
3334,3335,326284,Pound of Flesh,"[In, China, to, donate, his, kidney, to, his, ...",[Action],[],"[Jean-Claude Van Damme, John Ralston, Darren S...",[Ernie Barbarash]
259,259,1639,Speed 2: Cruise Control,"[Sandra, Bullock, and, Jason, Patric, star, as...","[Action, Adventure, Thriller]","[boat, cruise, computer, disaster, diamond, co...","[Sandra Bullock, Jason Patric, Willem Dafoe]",[Jan de Bont]
155,155,7552,Fun with Dick and Jane,"[After, Dick, Harper, loses, his, job, at, Glo...",[Comedy],"[based on novel, desperation, robber, hold-up ...","[Jim Carrey, Téa Leoni, Alec Baldwin]",[Dean Parisot]
1508,1508,3594,The Number 23,"[Walter, Sparrow, is, an, animal, control, off...","[Thriller, Drama, Mystery]","[suicide, based on novel, hotel room, obsessio...","[Jim Carrey, Virginia Madsen, Logan Lerman]",[Joel Schumacher]
3992,3993,16016,Journey to Saturn,"[A, Danish, crew, of, misfits, travel, to, Sat...","[Action, Adventure, Animation, Comedy, Science...",[],"[Casper Christensen, Frank Hvam, Ali Kazim]",[Kresten Vestbjerg Andersen]

In [29]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [30]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [31]:
movies.sample(10)

,index,id,title,overview,genres,keywords,cast,crew
4452,4455,47889,Ruby in Paradise,"[Reeling, from, her, mother's, recent, death,,...","[Drama, Romance]",[independentfilm],"[AshleyJudd, ToddField, BentleyMitchum]",[VictorNunez]
2868,2869,14799,For Your Consideration,"[Three, actors, learn, that, their, respective...","[Comedy, Drama]",[],"[CatherineO'Hara, HarryShearer, ParkerPosey]",[ChristopherGuest]
4118,4119,12109,It's All Gone Pete Tong,"[Its, All, Gone, Pete, Tong, is, a, comedy, fo...","[Drama, Comedy, Music]","[discjockey, lossoffamily, cocaine, comeback, ...","[PaulKaye, KateMagowan, NeilMaskell]",[MichaelDowse]
2080,2080,49517,Tinker Tailor Soldier Spy,"[Recently-retired, MI6, agent,, George, Smiley...","[Drama, Thriller, Mystery]","[spy, coldwar, spying, espionage, mole, britis...","[JohnHurt, GaryOldman, KathyBurke]",[TomasAlfredson]
967,967,44603,Hereafter,"[A, supernatural, thriller, centered, on, thre...","[Drama, Fantasy]",[],"[MattDamon, BryceDallasHoward, GeorgeMcLaren]",[ClintEastwood]
3700,3701,641,Requiem for a Dream,"[The, hopes, and, dreams, of, four, ambitious,...","[Crime, Drama]","[drugaddiction, junkie, heroin, speed, diet, u...","[EllenBurstyn, JaredLeto, JenniferConnelly]",[DarrenAronofsky]
3787,3788,242575,"Guten Tag, Ramón","[After, five, failed, attempts, to, go, to, th...",[Drama],"[germany, mexican]","[AdrianaBarraza, RüdigerEvers, HectorKotsifakis]",[JorgeRamírezSuárez]
2631,2631,112430,The Company,"[Real-life, figures, from, the, Cold, War, era...",[Drama],[miniseries],"[ChrisO'Donnell, AlfredMolina, MichaelKeaton]",[MikaelSalomon]
4083,4084,55604,Boom Town,"[McMasters, and, Sand, come, to, oil, towns, t...","[Adventure, Drama, Romance]","[partnership, oil, oiltycoon, wildcatter, oilf...","[ClarkGable, SpencerTracy, ClaudetteColbert]",[JackConway]
3672,3673,12555,I Served the King of England,"[Jan, Dítě, has, been, released, from, a, Czec...","[Comedy, Drama]","[expensiverestaurant, luxury, adolfhitler, pra...","[IvanBarnev, OldřichKaiser, JuliaJentsch]",[JiříMenzel]

In [32]:
movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [33]:
new_df = movies[['id','title','tags']].copy()

new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

In [34]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [35]:
cv = CountVectorizer(max_features=5000 ,stop_words='english')

In [36]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [37]:
vectors.shape

(4800, 5000)

In [38]:
vectors[:10]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [39]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [40]:
similarity = cosine_similarity(vectors)
similarity.shape

(4800, 4800)

In [41]:
similarity[0]

array([1.        , 0.08980265, 0.05986843, ..., 0.02457366, 0.02777778,
       0.        ])

In [42]:
print('The six tags with the greatest similarity to the first are:')
sorted(list(enumerate(similarity[0])),reverse =True , key = lambda x:x[1])[1:6]

The six tags with the greatest similarity to the first are:

[(539, 0.25724787771376323),
 (1191, 0.2545875386086578),
 (507, 0.24948506639458295),
 (1213, 0.24595492912420727),
 (260, 0.2434322477800738)]

In [43]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0] ##fetching the movie index
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate( distances)),reverse =True , key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [44]:
movie=new_df['title'][3]
print('The top six recommended movies for a person who likes', movie ,'are:')
recommend(movie)

The top six recommended movies for a person who likes The Dark Knight Rises are:
The Dark Knight
Batman Begins
Batman Returns
Batman Forever
Batman